package org.opendaylight.controller.config.yang.config.${app}_provider.impl;

import ${package}.provider.${capitalApp}Provider;
import org.opendaylight.controller.md.sal.binding.api.DataBroker;
import org.opendaylight.controller.sal.binding.api.BindingAwareBroker;
import org.opendaylight.controller.sal.binding.api.NotificationProviderService;
import org.opendaylight.controller.sal.binding.api.RpcProviderRegistry;
import org.opendaylight.yang.gen.v1.opendaylight.sample.rev140407.${capitalApp}Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

public class ${capitalApp}ProviderModule extends org.opendaylight.controller.config.yang.config.${app}_provider.impl.Abstract${capitalApp}ProviderModule {
    private static final Logger log = LoggerFactory.getLogger(${capitalApp}ProviderModule.class);

    public ${capitalApp}ProviderModule(org.opendaylight.controller.config.api.ModuleIdentifier identifier, org.opendaylight.controller.config.api.DependencyResolver dependencyResolver) {
        super(identifier, dependencyResolver);
    }

    public ${capitalApp}ProviderModule(org.opendaylight.controller.config.api.ModuleIdentifier identifier, org.opendaylight.controller.config.api.DependencyResolver dependencyResolver, org.opendaylight.controller.config.yang.config.${app}_provider.impl.${capitalApp}ProviderModule oldModule, AutoCloseable oldInstance) {
        super(identifier, dependencyResolver, oldModule, oldInstance);
    }

    @Override
    public void customValidation() {
        // add custom validation form module attributes here.
    }

    @Override
    public AutoCloseable createInstance() {
        final ${capitalApp}Provider appProvider = new ${capitalApp}Provider();

        DataBroker dataBrokerService = getDataBrokerDependency();
        appProvider.setDataService(dataBrokerService);

        RpcProviderRegistry rpcRegistryDependency = getRpcRegistryDependency();
        final BindingAwareBroker.RpcRegistration<${capitalApp}Service> rpcRegistration =
                                rpcRegistryDependency
                                    .addRpcImplementation(${capitalApp}Service.class, appProvider);

        //retrieves the notification service for publishing notifications
        NotificationProviderService notificationService = getNotificationServiceDependency();


        // Wrap toaster as AutoCloseable and close registrations to md-sal at
        // close()
        final class CloseResources implements AutoCloseable {

            @Override
            public void close() throws Exception {
                rpcRegistration.close();
                appProvider.close();
                log.info("${capitalApp}Provider (instance {}) torn down.", this);
            }
        }

        AutoCloseable ret = new CloseResources();
        log.info("${capitalApp}Provider (instance {}) initialized.", ret);
        return ret;
    }


}
